<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tcc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TCC">
        <activity android:name=".MudarEmail"></activity>
        <activity android:name=".MudarSenha" />
        <activity android:name=".ProdList" />
        <activity android:name=".DetalProdCar" />
        <activity android:name=".PerfilCli" />
        <activity android:name=".ConfirmCod" />
        <activity android:name=".NovaSenha" />
        <activity android:name=".EsqueciSenha" />
        <activity android:name=".TelaPagamento" />
        <activity android:name=".DetalheProd" />
        <activity
            android:name=".MenuPrincipalCli"
            android:label="@string/title_activity_menu_principal_cli"
            android:theme="@style/Theme.TCC.NoActionBar" />
        <activity android:name=".CadastrarCli" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>